extends layout.pug

block content
  nav.nav
    a(href='/')
      span &larr;
      |  Back
  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Jonathan Drake
        p Full Stack JavaScript Developer
        .about-bio
          p I make stuff.  Usually it's out of wood (like carving my self-portrait), or metal, or plastic, (or legos if I'm playing with my daughters), but I recently got the itch to make things with code. So far, I've been pleasantly surprised at how few bandaids are required when coding... Check out what I've made so far!
      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
        h6 Contact Info
        ul
          li 555-555-1234
          li email@email.com
        a.btn-link(href='https://www.linkedin.com/home', target="_blank") LinkedIn
        a.btn-link(href='https://github.com/willstutely', target="_blank") GitHub
        a.btn-link(href='https://twitter.com', target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back