extends layout.pug

block content

  article.portfolio-intro
    h1 The Digital Workshop Showcase
    p Normally, I'm covered in actual sawdust, and my fingers show the signs of errant chisel strikes. I'm not sure what the coding equivalent is to such battle scars, but each of the following projects represents the skills I've gained from the TreeHouse Full Stack Techdegree Program.  Click on the thumbnails to browse each project and see what I've learned!

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0][0]}`, alt=`${project.image_urls[0][1]}`)
            h5= project.project_name

