extends layout.pug

block content
    article.portfolio-projects
        .inner-wrapper.flex-row-wrap.two-col
            .project-info-box.box
                h1 #{error.message}
                p Here's my dog in timeout to help you relax.  Click her picture to be redirected to the home page
                a(href='/')
                    img.project-img(src='/static/images/pippin.jpg')
            